@page "/"

<PageContainer Title="Welcome">
    <Card>
        <Alert
            Message="AntDesign.Templates have been published to nuget, you can download and use them directly."
            Type="success"
            ShowIcon="true"
            Banner>
        </Alert>
        <Text Strong>
            <a target="_blank" rel="noopener noreferrer" href="https://www.nuget.org/packages/AntDesign.Templates">
                Use
            </a>
        </Text>
        <code>
            <Text Copyable> dotnet new --install AntDesign.Templates::0.1.0-*</Text>
        </code>
    </Card>
</PageContainer>