@page "/navigate"
@using Microsoft.Extensions.Logging
@implements IDisposable
@inject ILogger<Navigate> _logger
@inject NavigationManager _navigationManager

<h1>Navigate in component code example</h1>

<button class="btn btn-primary" @onclick="NavigateToCounterComponent">
    Navigate to the Counter component
</button>

@code {

    private void NavigateToCounterComponent()
    {
        _navigationManager.NavigateTo("user/10");
    }

    protected override void OnInitialized()
    {
        _navigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        _logger.LogInformation("URL of new location: {Location}", e.Location);
    }

    public void Dispose()
    {
        _navigationManager.LocationChanged -= HandleLocationChanged;
    }

}